.contact-list-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        width: 100px;
        height: 32px;
        border-radius: 5px;
        border: none;
        
    }
}